# Credentials and Secrets
*.secret
connectionstrings.config  
*.key                       
*.pfx                        

# Sensitive Configuration Files
security.config              
encryption.keys             

# Locally Specific Files
.vscode/       
.vs/                      
obj/     
# Ignore temporary files
*.tmp
packages.config

# Ignore OS-specific temporary files
Thumbs.db                     # Windows thumbnail cache

# Ignore version control metadata
.git/
*.suo                         # Visual Studio solution user options

